<%= simple_form_for @order do |f| %>
  <!-- other fields -->

  <div class="field">
    <%= f.label :delivery_time_slot_id %>
    <%= f.collection_select :delivery_time_slot_id, DeliveryTimeSlot.where('available_slots > 0'), :id, :display_name %>
  </div>

  <%= f.submit 'Place Order' %>
<% end %>
